@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Comforter+Brush&display=swap");
body {
  margin: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
